@page
@{
	ViewData["Title"] = "About";
}

<div>
	<img src="~/Images/pn.jpg" alt="Profile Photo" id="profilePhoto" class="filter" />
	<hr />
	<img src="~/Images/theme.jpg" alt="Theme Photo" id="themePhoto" class="filter" />
	<hr />
	<img src="~/Images/violin.jpg" alt="Violin Photo" id="violinPhoto" class="filter" />
	<hr />
	<img src="~/Images/note.jpg" alt="Note Photo" id="notePhoto" class="filter" />
</div>

@section StyleSheets {
	<style>
		hr {
			color: red;
		}
	</style>
}