@page
@{
	ViewData["Title"] = "Contact";
}

@model Server.Pages.ContactModel
@{
}

<div class="row">
	<div class="col">
		شماره تلفن همراه:
		<a href="tel: 09356685894">09356685894</a>
		<br />
		نشانی پست الکترونیک:
		<a href="mailto: purya.nosraty@gmail.com" target="_blank">purya.nosraty@gmail.com</a>
		<br />
	</div>
</div>