@page
@model Server.Pages.IndexModel
@{
	var pageTitle =
		Resources.PageTitles.Index;

	ViewData["PageTitle"] = pageTitle;
}

<h3>
	@(pageTitle)
</h3>

<div id="welcome">
	<h1>
		Welcome to Pouria Nosrati's website
	</h1>
</div>