@page
@model Server.Pages.SignIn
@{
	ViewData["Title"] = "Sign in";
}

<div>
	<h1>
		Sign in
	</h1>
	<form>
		<table>
			<thead>
				Username
			</thead>
			<td>
			</td>
			<thead>
				Password
			</thead>
			<td>
			</td>
		</table>
	</form>
</div>