<footer id="footer" class="py-3 fixed-bottom" dir="ltr">
	<div class="container">
		<span class="text-muted text-light">
			&copy; 1402 - <a href="~/Index">www.pourianosrati.com</a>
		</span>
	</div>
</footer>